name: Build and Push Docker Image

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/deutschmeister:latest

      - name: Deploy to AWS server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 3.94.163.196
          username: ubuntu
          key: ${{ secrets.AWS_SSH_KEY }}
          script: |
            cd /opt/deutschmeister
            docker pull yeshdock/deutschmeister:latest
            docker compose up -d
            docker image prune -f
